.bboxRect {
  stroke: green;
  stroke-width: 4px;
  fill: none;
}
.mecanoGeometricMidPoint {
  fill: #ff0000;
}

.cellOuter {
  stroke: green;
  stroke-width: 1px;
  fill: none;
}

.cellInner1 {
  stroke: green;
  stroke-width: 0.8px;
  fill: none;
}
.cellInner2 {
  stroke: red;
  stroke-width: 0.8px;
  fill: none;
}
.cellInner3 {
  stroke: blue;
  stroke-width: 0.8px;
  fill: none;
}
