.line {
  stroke: black;
  stroke-width: 4;
  stroke-linecap: round;
}
.shapeText1 {
  font-size: 32px;
  font-weight: 100;
  font-style: normal;
}
.shapeText2 {
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
}
